body {
  background-image: radial-gradient(circle, #dff215, #d7e715, #cfdd16, #c7d216, #bfc816, #bbc715, #b8c615, #b4c514, #b4cc14, #b3d415, #b2db17, #b0e31a);
}

.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cats, .dogs {
  width: 25%;
  background-image: linear-gradient(to right top, #9ce141, #93da3a, #8ad233, #81cb2b, #78c423, #75be1d, #72b718, #6fb111, #70aa0e, #71a20d, #719b0c, #71940c);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  font-family: Algeria sans-serif;
}

.enterName {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

input {
  border-radius: 10px;
  box-shadow: 0 5px 5px;
  margin-left: 10px;
}

button {
  border-radius: 10px;
  box-shadow: 0 5px 5px;
  background-color: #61dafb;
  margin-left: 10px;
}

button:hover {
  background-color: red;
}

.nameAlimal {
  width: 50%;
  background-color: #61dafb;
  margin-left: 25%;
  margin-bottom: 5px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-image: linear-gradient(to right, #dff215, #d7e715, #cfdd16, #c7d216, #bfc816, #bbc715, #b8c615, #b4c514, #b4cc14, #b3d415, #b2db17, #b0e31a);
}
