
.App {
  padding-bottom: 20px;
  text-align: center;
  background-image: linear-gradient(to left, #70a321, #7ab31f, #83c31d, #8dd318, #97e412, #a5e70b, #b3ea05, #c1ed00, #d2e300, #e0d800, #ecce00, #f6c310);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  width: 100%;
  height: 100px;
  margin-top: -40px;
  background-image: radial-gradient(circle, #7dd61a, #84dd18, #8be415, #93eb11, #9af20b, #97f308, #95f506, #92f604, #84f208, #76ee0d, #66e912, #55e516);

}

h1 {
  font-size: 60px;
  text-shadow: 3px 6px 10px;
  word-spacing: 20px;
  letter-spacing: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nameOfUser h3 {
  font-size: 30px;
}

.nameOfUser {
  position: fixed;
  width: 20%;
  height: auto;
  margin: 200px 0 0 2.5%;
  background-image: radial-gradient(circle, #99f20c, #8bf403, #7bf600, #68f700, #4ff900, #59f800, #62f700, #6af600, #8af200, #a2ee00, #b7e900, #c8e507);
  border-radius: 30px;
  border: 1px solid black;

}

.boxNameOfUser {
  width: 50%;
  height: 400px;
  display: table;
  vertical-align: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.but {
  width: 200px;
  height: 50px;
  background-image: radial-gradient(circle, #81e314, #88de22, #8ed92c, #93d434, #97cf3c, #97cf42, #97ce48, #97ce4d, #94d253, #90d659, #8dda5f, #89de65);
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: 1px 5px 5px;
  margin: 20px 0 20px 0;
  font-size: 15px;
}

.but:hover {
  font-size: 20px;
  background-image: radial-gradient(circle, #9fe551, #8be561, #76e571, #60e380, #47e28e, #3ae38d, #28e38b, #00e48a, #0ee676, #26e75f, #3be942, #50e90f);
}



.blockUsers {
  width: 50%;
  height: auto;
  border: 1px solid black;
  margin: 20px 0 20px 25%;
  border-radius: 30px;

  box-sizing: border-box;

}

.boxUsers {
  width: 50%;
  height: auto;
  background-image: radial-gradient(circle, #61a614, #65a615, #68a515, #6ca516, #6fa417, #6ea51b, #6ea51e, #6da621, #69a826, #64aa2c, #5fac31, #5aae36);
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: 1px 5px 5px;
  margin: 20px 0 20px 25%;
}





@media screen and (min-width: 1000px) and (max-width: 1800px) {
  .nameOfUser h3 {

    font-size: 20px;
  }

  .nameOfUser {
    margin-top: 40px;
  }
}